---
import Navbar from "../Components/Shared/Navbar/Navbar.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Blog</title>
	</head>
	<body>
		<div class="w-full border-b-2 border-gray-400">
			<Navbar/>
		</div>
	</body>
</html>
